<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Document Collection Request</title>
<style>
body {
	font-family: cursive;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}

.header {
	background-color: #35424a;
	color: #ffffff;
	padding: 10px;
	text-align: center;
}

.content {
	background-color: #ffffff;
	padding: 20px;
}

.footer {
	background-color: #35424a;
	color: #ffffff;
	text-align: center;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
</style>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Document Collection Request</h1>
		</div>
		<div class="content">
			<b>
				<p>
					Dear <span th:text="${candidate.candidateName}"></span>,
				</p>
			</b>
			<p>
				Congratulations on being selected for the <b><span
					th:text="${candidate.candidateRole}"></span></b> role with Splenta.<br />
				As part of the employment process with us, you need to submit the
				following at the earliest for verification: <br>
				<br />1.Aadhar card copy<br />2.PAN card copy<br />3.Certificate of
				highest qualification<br />4.Last three months' Salary slips<br />

			</p>
			<br/>
			<p>Please upload all your certificates to below mentioned website<br/>http://localhost:4444/hire/uploadcertificate</p>
			<br />
			<p>Also, mention your current and permanent address and planned
				joining date with Splenta. The offer letter will be issued
				post-verification of your document</p>
			<br />



			<p>If you have any queries regarding documents,feel free to reach
				out.</p>
			<b>
				<p>
					Best regards,<br> Splenta Admin<br> Splenta Systems
					Private Limited
				</p>
			</b>
		</div>
		<div class="footer">
			<p>&copy; 2023 Splenta Systems Private Limited. All rights
				reserved.</p>
		</div>
	</div>
</body>
</html>
