<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Email</title>
</head>
<body>

	<p>Good evening Sir/Mam,<br> Today Eod report Total Eod Submitted
		employee Count:<p th:text="${Eod.size()}" /></p>


	<!-- 	<table border="1" style="width: 300px">
		<tr>
			<td>Value</td>
			<td>Name</td>
		</tr>
		<tr th:each="deliverable : ${Eod}">
			<td th:text="${deliverable.totalHours}" />
			<td th:text="${deliverable.totalLines}" />
		</tr>
	</table>
 -->
</body>
</html>